{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": "./apps/frontend/tsconfig.json",
    "sourceType": "module",
    "parser": {
      "js": "@babel/eslint-parser",
      "jsx": "@babel/eslint-parser",

      "ts": "@typescript-eslint/parser",
      "tsx": "@typescript-eslint/parser"
    }
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "alloy",
    "alloy/vue",
    "alloy/typescript"
  ],
  "plugins": [],
  "rules": {
    "@typescript-eslint/prefer-optional-chain": "off"
  }
}
